@model Web_FIA44_CRUD_einer_1_zu_N.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Ansicht</h1>

<div>
    <h4 class="text-center p-3 mb-2 bg-secondary text-info">@Model.ArticleName</h4>
    <hr />
    <dl class="card text-center text-info bg">
        <dt class="col align-self-center text-info text-decoration-underline">
            @Html.DisplayNameFor(model => model.Aid)
        </dt>
        <dd class = "col align-self-center text-dark">
            @Html.DisplayFor(model => model.Aid)
        </dd>
        <dt class = "col align-self-center text-info text-decoration-underline">
            @Html.DisplayNameFor(model => model.CatId)
        </dt>
        <dd class = "col align-self-center text-dark">
            @Html.DisplayFor(model => model.CatId)
        </dd>
        <dt class = "col align-self-center text-info text-decoration-underline">
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd class = "col align-self-center text-dark">
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt class = "col align-self-center text-info text-decoration-underline">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col align-self-center text-dark">
            @Model.Price.ToString("c")
        </dd>
        <dt class = "col align-self-center text-info text-decoration-underline">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col align-self-center text-dark">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col align-self-center text-info text-decoration-underline">
            @Html.DisplayNameFor(model => model.Category.CatName)
        </dt>
        <dd class="col align-self-center text-dark">
            @Html.DisplayFor(model => model.Category.CatName)
        </dd>
    </dl>
</div>
<div class="d-flex justify-content-center ">
    <a class="btn btn-outline-secondary align-content-center" asp-action="Index">Zurück zur Übersicht</a>
</div>
