@using Web_FIA44_CRUD_einer_1_zu_N.ViewModels
@model Web_FIA44_CRUD_einer_1_zu_N.ViewModels.IndexViewModel

@using Web_FIA44_CRUD_einer_1_zu_N.Models
@using static Web_FIA44_CRUD_einer_1_zu_N.Models.Article
@{
		ViewData["Title"] = "Home";

}
<h1 class="text-center p-3 mb-2 bg-secondary text-info">Artikelverwaltung mit Kategorien</h1>
<div>
	<form asp-action="Index" asp-controller="Home" method="post">
		<div>

			<select asp-for="@Model.DropDownValue" asp-items="@Model.DropDownList" class="btn btn-secondary  dropdown-toggle" onchange="this.form.submit()">
				<option value="">Kategorie auswählen</option>
			</select>
			
		</div>

	</form>
</div>
<br />
@if (Model.Articles != null && Model.Articles.Any())
{
	
<div class="row">
	@foreach (Article article in Model.Articles)
	{
		
		
  <div class="col-sm-3">
    <div class="card border-info mb-3">
      <div class="card-body ">
				<h5 class="card-title text-decoration-underline">@article.ArticleName</h5>
				
				
			<p class="card-text"><label class="text-dark-emphasis">Preis: &nbsp;</label>@article.Price.ToString("c")</p>
			<p class="card-text"><label class="text-dark-emphasis">Bemerkung: &nbsp;</label>@article.Description</p>
			<p class="card-text"><label class="text-dark-emphasis ">Artikelkategorie: &nbsp;</label>@article.Category.CatName</p>
					<a asp-action="Details" asp-route-Aid="@article.Aid" class="btn btn-outline-secondary">Details</a>
			</div>
		</div>
		</div>
		
	}
	
</div>
}
else
{
	<p class="h3 text-secondary">Keine Artikel vorhanden</p>
}